p {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  font-family: "Segoe UI",Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #212529;
  text-align: left;
  background-color: #eeeeee;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.644);
}