body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit], input[type=reset] {
  background-color : #2121FF;
  border : none;
  color : white;
  padding : 12px 6px;
  margin : 4px 2px;
  cursor : pointer;
  border-radius : 4px;
}

input[type=text]:focus {
  border : 2px solid #555;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f27e;
  padding: 20px;
}

table {
  text-align: inherit;
  padding: 0.75rem;
  vertical-align: top;
  font-family: 'source sans pro','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #212529;
}

thead {
  padding-bottom: 2px
}