body {
  display: flex;
  font-family: "Segoe UI",Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0em;
  padding-left: 0em;
  padding-right: 0em;
  font-size: 1em;
  font-weight: 400;
  color: #212529;
  text-align: left;
  background-color: #cfc4c4;
  background-blend-mode: difference;
  flex-direction: column;
  height: 100%;
  background-blend-mode: difference;
  background-image: url(https://previews.123rf.com/images/belodarova/belodarova1706/belodarova170600023/80117842-banner-with-vintage-background-web-header-template-website-design-simple-design.jpg);
}

h1 {
  text-align:center;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
  color: lightsalmon;
  mix-blend-mode: color-dodge;
}

h2 {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #242020;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgba(105, 56, 56, 0.171);
  border-radius: 2px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.nav {
  display: flex;
  position: relative;
  list-style-type: none;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
  background-color: #333;
  justify-content: space-between;
  padding: 0.25em 0.5em;
  align-items: center;
}

li a, .dropbtn {
  display: inline-block;
  color: rgba(165, 154, 154, 0.932);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: border-bottom 1s ease-in;
  transition: border-top 1s ease-in;
  font-size: 1.15em;
}

li a:hover,a:focus {
  border-bottom: 4px solid #6d92bd;
  border-top: 4px solid #6d92bd;
}
#container{
  flex: auto;
}

#main {
  float: left;
  padding : 1%; 
  color: black; 
  background-color: #e6e6f0c7; 
  width: 60%;
  height: auto;
  background-attachment: fixed;
  mix-blend-mode: color-dodge;
  overflow: auto;

}

p {
  text-align: justify;
  font-family: 'source sans pro','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  float: right;
  padding :1%;
  margin-bottom: 4%; 
  color: black; 
  background-color: #b3b3b3; 
  width: 40%; 
  height: 800px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  mix-blend-mode: color-dodge;
  display: flex;
  flex-direction: column;
  
}
aside h2{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  color: black;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  background-color: #726f6f;opacity: 0,5;
  border-radius: 4px;
}
.notice a{
  display: inherit;
  color: rgb(49, 46, 46);
  text-align: left;
  text-decoration: none;
  font-size: 1em;
  padding: 0em;
  transition: border-bottom 1s ease-in;
}
.notice a:hover,a:focus {
  border-bottom: 1px solid #4b6e96;
  border-top: none;
  cursor: pointer;
}

footer {
  color: white; 
  background-color: #343a40;opacity: 0.8;
  text-decoration-color:  rgba(255, 255, 255, 0.932); 
  flex-shrink: 0;
  height: 520px;
  /*border: 3px #64122b solid ;*/
  align-content: center;
  margin: 0em;
  padding: 0em;
}

footer hr {
  margin-bottom: 1rem;
  border: 0;
  border-top: 2px solid rgba(255, 255, 255, 0.644);
}

footer p {
  text-align: center;
}

footer table {
  width: 100%;
  padding: 2em;
  margin-left: 2em;
  margin-right: 2em;;
  border-collapse: collapse;
  text-align: left;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.932);
  /*border: 1px solid blue;*/
}

.foo-links {
  display: inline-block;
  color: rgba(255, 255, 255, 0.932);
  text-align: left;
  text-decoration: none;
  list-style-type: none;
  transition: border-bottom 1s ease-in;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}

.foo-links a:hover,a:focus {
  border-bottom: 2px solid #e4dede;
}

footer h3 {
  text-align: inherit;
  color: #cfc5c5e8;
  font-size: 1.25em;
}



