.td {
  width:250px;
}

img {
  width:200px;	
  height:200px;
}

h1 {
  text-align:center;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 2.5rem;
}

h2 {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  color: #414141;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgba(146, 110, 110, 0.171);
  border-radius: 2px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075)
}

table {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  font-family: "Segoe UI",Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #212529;
  text-align: left;
  background-color: #eeeeee;
}

input {
  display: none;
  visibility: hidden;
}
label {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #666;
}
label:hover {
  color: #000;
}
label::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 1.25em;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: #FFF;
}
section {
  padding: 0 20px;
}
#toggle:checked ~ #expand {
  height: fit-content;
}
#toggle:checked ~ label::before {
  content: "-";
}